{% extends 'base.html' %}
  {% load static %}
{% block title %}Login{% endblock %}
  
{% block content %}
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign </title>
    <!-- Include Bootstrap CSS -->

    <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/forget_password.css' %}">

</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="container">
    <form class="form" method="post">
            {% csrf_token %}
       <p class="form-title"> Quên mật khẩu </p>
<!--        Email-->
        <div class="input-container">
                <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
      </div>
<!--      username-->
        <div class="input-container">
                <label for="username">Tên đăng nhập</label>
                <input type="text" id="username" name="username" placeholder="Tên đăng nhập" required>
        </div>
<!--        submit-->
         <button class="submit" type="submit">
       OK
      </button>

      <p class="signup-link" style="color: red;">
         {{msg}}
      </p>
   </form>

    </div>

</body>
</html>
{% endblock %}