{% extends 'base.html' %}
  {% load static %}
{% block title %}Login{% endblock %}
  
{% block content %}
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'login_style.css' %}">

</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="container">
        <h3 class="form-title">Log In to your account!</h3>
        <form method="post" class="mb-2">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" required>
            </div>
            <div class="form-group">
                <label for="pass1">Password</label>
                <input type="password" class="form-control" id="pass1" name="password" placeholder="Enter Your Password" required>

            </div>
            <div class="form-group">
                 <a href="forget_password/" class="btn-shine">Forgot password</a>
            </div>

            <button type="submit" class="btn btn-primary">Log In</button>

            <p style="color: red"> {{msg}}</p>
        </form>
    </div>

    <!-- Include Bootstrap JS and jQuery
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</body>
</html>
{% endblock %}