{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Include Bootstrap CSS -->
    <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/register_style.css' %}">


</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <div class="cover">
        <div class="form-container">
       <form class="form" method="post">
           {% csrf_token %}
    <p class="title">Đăng ký </p>
    <p class="message"> Điền thông tin của bạn </p>
        <div class="flex">
        <label>
            <input type="text" class="input" id="fname" name="fname" placeholder="" required>
            <span>Họ</span>
        </label>


        <label>
            <input type="text" class="input" id="lname" name="lname" placeholder="" required>
            <span>Tên</span>
        </label>
    </div>

    <label>
        <input type="text" class="input" id="username" name="username" placeholder="" required>
        <span>Tên đăng nhập</span>
        <p style="color:red">{{ username_error }}</p>
    </label>

     <label>
         <input type="email" class="input" id="email" name="email" placeholder="" required>
        <span>Email</span>
        <p style="color:red">{{ email_error }}</p>
     </label>

    <label>
        <input type="password" class="input" id="pass1" name="pass1" placeholder="" required>
        <span>Mật khẩu</span>
    </label>
    <label>
        <input type="password" class="input" id="pass2" name="pass2" placeholder="" required>
        <span>Xác nhận mật khẩu</span>
        <p style="color:red">{{ password_error }}</p>

    </label>
    <button class="submit">Đăng ký</button>
    <p class="signin">Bạn đã có tài khoản ? <a href="{% url 'login'%}">Đăng nhập</a> </p>
</form>
    </div>
    </div>
</body>
{% endblock %}

</html>